<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100 bg-xbox-dark font-inter">
  <form class="w-100" style="max-width: 1000px;">
    <div class="bg-xbox-section text-xbox-white p-4 py-lg-5 px-lg-5" style="border-radius: 10px; box-shadow: 0 0 40px rgba(0,0,0,0.5); transition: all 0.3s ease-in-out;">

      <h2  class="display-4 text-center text-xbox-white">Crea tu cuenta</h2>
      <p  class="text-center text-xbox-green">Completa tus datos para poder comenzar</p>
      
      <div class="row pt-5">
        <div class="col-12 col-lg-6 mb-4">
          <label class="form-label fw-bold text-xbox-gray">NOMBRE</label>
          <input type="text" class="form-control bg-dark text-xbox-white border-0" name="name" placeholder="Nombre" [(ngModel)]="name" required>
        </div>
        <div class="col-12 col-lg-6 mb-4">
          <label class="form-label fw-bold text-xbox-gray">APELLIDO</label>
          <input type="text" class="form-control bg-dark text-xbox-white border-0" name="surname" placeholder="Apellido" [(ngModel)]="surname" required>
        </div>
        <div class="col-12 col-lg-6 mb-4">
          <label class="form-label fw-bold text-xbox-gray">EDAD</label>
          <input type="number" class="form-control bg-dark text-xbox-white border-0" name="age" placeholder="18" [(ngModel)]="age" required>
        </div>
        <div class="col-12 col-lg-6 mb-4">
          <label class="form-label fw-bold text-xbox-gray">CORREO</label>
          <input type="email" class="form-control bg-dark text-xbox-white border-0" name="mail" placeholder="Correo" [(ngModel)]="mail" required>
        </div>
        <div class="col-12 col-lg-6 mb-4">
          <label class="form-label fw-bold text-xbox-gray">CONTRASEÑA</label>
          <input type="password" class="form-control bg-dark text-xbox-white border-0" name="password" placeholder="*******" [(ngModel)]="password" required>
        </div>
        <div class="col-12 col-lg-6 mb-4">
          <label class="form-label fw-bold text-xbox-gray">CONFIRMAR CONTRASEÑA</label>
          <input type="password" class="form-control bg-dark text-xbox-white border-0" name="passwordConfirm" placeholder="*******" [(ngModel)]="passwordConfirm" required>
        </div>

        <p *ngIf="!isValidMail || !isValidPassword || !isValidName ||!isValidSurName ||!isValidConfirmPassword || !isValidAge
        "class="text-center text-danger mt-4 ">Error en las credenciales ingresadas
         </p>
        <div class="d-flex justify-content-center mt-5">        
          <button (click)="register()"type="submit" class="btn bg-xbox-green text-xbox-white px-5 py-2 w-50" style="border-radius: 50px;">Registrarse</button>
        </div>
      </div>

    </div>
  </form>
</div>
