@import "bootstrap/dist/css/bootstrap.min.css";
@import 'bootstrap-icons/font/bootstrap-icons.css';



.bg-main-color{
    background: #0b0d13;
}
.bg-xbox-dark {
  background-color: #0b0d13 !important;
}

.bg-xbox-mid-dark{
  background-color:rgb(13 14 15);
}

.bg-xbox-section {
  background-color: #1A1A1A !important;
}
.bg-xbox-green {
  background-color: #107C10 !important;
}

.bg-xbox-green-light {
  background-color: #13A813 !important;
}

.text-xbox-white {
  color: #FFFFFF !important;
}

.text-xbox-gray {
  color: #B0B0B0 !important;
}

.text-xbox-green {
  color: #107C10 !important;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.bg-game-buttons{
    background-color: rgb(91, 104, 124);
}
.bg-game-section{
    background-color: rgb(34, 56, 80);
}

.snackbar{
  background-color: white;
  color:rgb(6, 63, 16);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  text-align: center;
}

.input-error{
  border: 2px solid rgb(165, 40, 40);
}
