<div class="container-fluid d-flex bg-dark" style="max-width: 100%;min-height: 100vh;">
    <div class="row">
      <div class="col-12 col-lg-2 text-center bg-xbox-green-light text-white p-4">
        <img 
          [src]="imagenAvatar" 
          alt="Foto de perfil" 
          class="rounded-circle border border-3 border-black mb-3 shadow" 
          style="width: 160px; height: 160px; object-fit: cover;">
        
        <h1 class="text-black  fs-2 mb-3 ">{{nombre}}</h1>
        <p class="text-black fs-6">
          {{bio}}
        </p>
      </div>
  
      <div class="col-12 col-lg-10 text-white  px-5 py-5 bg-dark " >
        <div class="mb-5">
          <h2 class="text-center display-4 mb-4 ">Bomb it! <i class="fas fa-bomb text-xbox-gray"></i></h2>
          <p class="text-center">
            <strong>Bomb it!</strong> es un minijuego interactivo de lógica y azar donde el jugador debe seleccionar entre 12 cuadrados visibles en pantalla. 
            El objetivo es evitar las bombas ocultas y sumar puntos.
          </p>
        </div>
  
        <div class="d-flex p-5 justify-content-between">

          <div class="mb-5 ">
            <h2 class="fs-1 mb-5 text-decoration-underline">¿Cómo se juega?</h2>
            <ul class="ps-3 text-xbox-gray">
              <li>En pantalla se muestran 12 cuadrados numerados o en blanco.</li>
              <li>Detrás de estos cuadrados se esconden 3 bombas aleatorias.</li>
              <li>El jugador puede hacer clic en los cuadrados para revelar su contenido.</li>
            </ul>
          </div>
    
          <div>
            <h2 class="fs-1 mb-5 text-decoration-underline">Reglas del juego</h2>
            <ul class="ps-3 text-xbox-gray">
              <li>El jugador comienza con <i class="fas fa-heart text-danger"></i> 3 vidas.</li>
              <li>Si selecciona una bomba 💣, pierde una vida.</li>
              <li>Si selecciona un cuadrado seguro, continúa jugando.</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  