<div class="container-fluid d-flex  " style="max-width: 100%;min-height: 100vh;">
    <div class="row">
      <div class="col-12 col-lg-2 text-center bg-custom-dark text-white p-4">
        <img 
          src="https://avatars.githubusercontent.com/u/137585994?v=4" 
          alt="Foto de perfil" 
          class="rounded-circle border border-3 border-white mb-3 shadow" 
          style="width: 160px; height: 160px; object-fit: cover;">
        
        <h1 class="fw-bold fs-4 mb-3">Guido Santillan</h1>
        <p class="text-white-50 small">
          Estudiante de la Tecnicatura en Programación – UTN
        </p>
      </div>
  
      <div class="col-12 col-lg-10 text-white fw-bold px-5 py-4 bg-custom-pink-gradient" >
        
        <div class="mb-5">
          <h2 class="text-center display-4 mb-3">Bomb it! <i class="fas fa-bomb text-warning"></i></h2>
          <p class="text-center">
            <strong>Bomb it!</strong> es un minijuego interactivo de lógica y azar donde el jugador debe seleccionar entre 12 cuadrados visibles en pantalla. 
            El objetivo es evitar las bombas ocultas y sumar puntos.
          </p>
        </div>
  
        <!-- Cómo se juega -->
        <div class="mb-5">
          <h2 class="display-6 mb-3"><i class="fas fa-gamepad me-2"></i>¿Cómo se juega?</h2>
          <ul class="ps-3">
            <li>En pantalla se muestran 12 cuadrados numerados o en blanco.</li>
            <li>Detrás de estos cuadrados se esconden 3 bombas aleatorias.</li>
            <li>El jugador puede hacer clic en los cuadrados para revelar su contenido.</li>
          </ul>
        </div>
  
        <!-- Reglas del juego -->
        <div>
          <h2 class="display-6 mb-3"><i class="fas fa-book me-2"></i>Reglas del juego</h2>
          <ul class="ps-3">
            <li>El jugador comienza con <i class="fas fa-heart text-danger"></i> 3 vidas.</li>
            <li>Si selecciona una bomba 💣, pierde una vida.</li>
            <li>Si selecciona un cuadrado seguro, continúa jugando.</li>
            <li>Cada bomba evitada suma <strong>10 puntos</strong>.</li>
            <li>Si pierde las 3 vidas, el juego termina y se puede reiniciar.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  